.footer {
  width: 100%;
  min-height: 40px;
  background: #f6fa02;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  height: 106px;
}

span {
  color: black;
  font-size: 28px;
}

.footerAnchor {
  color: black;
  text-decoration: none;
  margin-top: 10px;
}